# Python 2.7 POCL:
#     script:
#     - export PY_EXE=python2.7
#     - export PYOPENCL_TEST=portable
#     - export EXTRA_INSTALL="pybind11 numpy mako"
#     - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
#     - ". ./build-and-test-py-project.sh"
#     tags:
#     - python2.7
#     - pocl
#     except:
#     - tags
#     artifacts:
#         reports:
#             junit: test/pytest.xml
# 
# Python 3.7 Titan V:
#     script:
#     - py_version=3.7
#     - export PYOPENCL_TEST=nvi:titan
#     - EXTRA_INSTALL="pybind11 numpy mako"
#     - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
#     - ". ./build-and-test-py-project.sh"
#     tags:
#     - python3.7
#     - nvidia-titan-v
#     allow_failure: true
#     except:
#     - tags
#     artifacts:
#         reports:
#             junit: test/pytest.xml
# 
# #Python 3.6 Titan X:
# #    script:
# #    - py_version=3.6
# #    - export PYOPENCL_TEST=nvi:titan
# #    - EXTRA_INSTALL="pybind11 numpy mako"
# #    - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
# #    - ". ./build-and-test-py-project.sh"
# #    tags:
# #    - python3.6
# #    - nvidia-titan-x
# #    except:
# #    - tags
# #    artifacts:
# #        reports:
# #            junit: test/pytest.xml
# 
# Python 3.6 K40:
#     script:
#     - export PY_EXE=python3.6
#     - export PYOPENCL_TEST=nvi:k40
#     - export EXTRA_INSTALL="pybind11 numpy mako"
#     - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
#     - ". ./build-and-test-py-project.sh"
#     allow_failure: true
#     tags:
#     - python3.6
#     - nvidia-k40
#     except:
#     - tags
#     artifacts:
#         reports:
#             junit: test/pytest.xml
# 
# Python 3.6 POCL:
#     script:
#     - export PY_EXE=python3.6
#     - export PYOPENCL_TEST=portable
#     - export EXTRA_INSTALL="pybind11 numpy mako"
#     - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
#     - ". ./build-and-test-py-project.sh"
#     tags:
#     - python3.6
#     - pocl
#     except:
#     - tags
#     artifacts:
#         reports:
#             junit: test/pytest.xml


Pylint:
  script:
  - EXTRA_INSTALL="pybind11 numpy mako"
  - py_version=3.6
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-pylint.sh
  - ". ./prepare-and-run-pylint.sh boxtree test/test_*.py"
  tags:
  - python3.6
  except:
  - tags


# Documentation:
#     script:
#     - EXTRA_INSTALL="pybind11 numpy mako"
#     - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-docs.sh
#     - ". ./build-docs.sh"
#     tags:
#     - python3.5
#     only:
#     - master
# 
# Flake8:
    script:
    - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-flake8.sh
    - ". ./prepare-and-run-flake8.sh boxtree test"
    tags:
    - python3.5
    except:
    - tags
