numpy
git+https://github.com/pyopencl/pyopencl
git+https://github.com/inducer/islpy
git+https://github.com/inducer/loopy
git+https://github.com/inducer/pyfmmlib

# only for reference values for the fmmlib test
git+https://github.com/inducer/sumpy
