numpy
git+https://github.com/inducer/pyopencl
git+https://github.com/inducer/pymbolic
git+https://github.com/inducer/islpy
git+https://github.com/inducer/loopy
git+https://gitlab.tiker.net/inducer/pyfmmlib

# only for reference values for the fmmlib test
# (unable to use--circular dep)
# git+https://github.com/inducer/sumpy
